* {
    margin: 0px;
    padding: 0px;
    
}


body{
    background-color: rgb(242, 227, 227);
    margin-top: 0px;

    margin: 0;
    font-family: 'Georgia', serif;
    /* color: #333; */
    line-height: 1.6;
}

/* #myHeader{
    background-color: aqua;
} */




#navForm{
   margin-left: 55%;
}




/* #myBody{
    background-color: rgb(232, 220, 220);
} */

/* Collection Section */
.collection {
    padding: 80px 20px;
    /* background: #eccaca; */
    text-align: center;
    height: fit-content;
    /* border: 5px solid black; */
}

.collection h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.card{
    /* style="height: 400px; width: 300px; margin-left: 100px;" */
    height: 400px; width: 300px; margin-left: 100px;
    /* background: none; */
}




#myFooter{
    /* background-color: gray; */
    height: fit-content;
    /* background-color: #0b0a0b; */
    /* opacity: 5; */

}
.flow{
    /* background-attachment: fixed; */
    background-color: rgb(229, 209, 209);


}


footer .flow {
    display: inline-flex;
    height: 160px;
    /* border: 2px solid black; */
    width: 100%;
}

footer .flow p {
    font-size: 12px;
}

footer .flow h4 {
    font-size: 16px;
    margin-top: 3px;
    color: black;
    font-weight: bold;
}

footer .flow h4 {
    margin-left: 15px;
}

footer .flowfirst {
    display: inline-flex;
    margin-left: 120px;
    /* border: 1.5px solid red; */
    height: fit-content;
    margin-top: 50px;



}

footer .flow .flowfirst p {
    margin-top: 30px;
    margin-left: -115px;

}

footer .flowsecond {
    display: inline-flex;
    margin-left: 20px;
    /* border: 1.5px solid red; */
    height: fit-content;
    margin-top: 50px;



}

footer .flow .flowsecond p {
    margin-top: 30px;
    margin-left: -124px;

}

footer .flowthird {
    display: inline-flex;
    margin-left: 20px;
    /* border: 1.5px solid red; */
    height: fit-content;
    margin-top: 50px;


}

footer .flow .flowthird p {
    margin-top: 30px;
    margin-left: -185px;

}

footer .flow .flowfourth {
    /* border: 1.5px solid red; */
    height: fit-content;
    margin-left: 10px;
    margin-top: 50px;


}

footer .flow .flowfourth .iconss li {
    /* display: flex; */
    list-style: none;
    margin: 5px;
    margin-top: 2px;
    margin-left: 45px;
    font-size: 18px;
}

footer .flow .flowfourth .iconss ul {
    display: flex;
    cursor: pointer;
}

footer .fbottom {
    background-color: #0b0a0b;
    height: 100px;
    width: 100%;
    color: white;
}

footer .fbottom ul {
    text-decoration: none;
    display: flex;
}

footer .fbottom li {
    list-style: none;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;

}

footer .fbottom p {
    font-size: 12px;
    cursor: pointer;
}

.last {
    /* border: 1px solid black; */
    width: 220px;
    position: fixed;
    right: 15px;
    bottom: 0.5px;
    background-color: white;
    border-radius: 5px;
}

.last p {
    margin: 3px;
    font-size: 18px;
    margin-left: 8px;

}